@page "/quizbattle"
@inherits QuizBase
@using GusQuiz.Components
@using GusQuiz.Models;

@if (players.Count < 2)
{
    <input type="text" @bind="firstName" placeholder="Enter player name" />
    <button @onclick="AddPlayer">Add Player</button>
}
@if (players.Count > 0)
{
    @foreach (Player player in players)
    {
    }
}
@if (players.Count > 1)
{
    @if (bajs == true)
    {
        <div class="container">
            <div class="quiz">
        @if (questionIndex5 < QuestionsFotboll.Count)
        {
            <div class="app-title">
                @QuestionsFotboll[questionIndex5].Category
            </div>
            <div class="quiz-header">
                        @QuestionsFotboll[questionIndex5].NameOfQuestion
            </div>
            <div class="quiz-body">
                @foreach (var option in QuestionsFotboll[questionIndex5].Options)
                {
                    <OptionCard Option="@option" OnOptionSelected="OptionSelected"></OptionCard>  
                }
            </div>
        }
                else
                {
                    <div class="quiz-footer">
                        <button class="next-btn" @onclick="@NextPlayer">Next Player</button>
                    </div>
                }
                <b class="player-name">@players[0].Name</b>
            </div>
        </div>
    }


    @if (röv == true)
    {
        <div class="container">
            <div class="quiz">
            @if (questionIndex5 < QuestionsFotboll.Count)
            {
                <div class="app-title">
                    @QuestionsFotboll[questionIndex5].Category
                </div>
                <div class="quiz-header">
                    @QuestionsFotboll[questionIndex5].NameOfQuestion
                </div>
                <div class="quiz-body">
                    @foreach (var option in QuestionsFotboll[questionIndex5].Options)
                    {
                        <OptionCard Option="@option" OnOptionSelected="OptionSelected2"></OptionCard>  
                    }
                </div>
            }
            else
            {
                 <div class="app-title">
                    @if (player1Score > player2Score)
                    {
                        <img class="winlose" src="/images/trophy.png" />
                        <b>@players[0].Name wins!</b>
                        player1Wins++;
                    }
                    else if (player1Score == player2Score)
                    {
                        <b>You are tied!</b>
                        player1Wins++;
                        player2Wins++;
                    }
                    else
                    {
                        <img class="winlose" src="/images/trophy.png" />
                        <b>@players[1].Name wins!</b>
                        player2Wins++;
                    }
                 </div>
                 <div class="quiz-footer">
                     <b class="questions-right">@players[0].Name: @player1Score/@questionIndex5<br/> @players[1].Name: @player2Score/@questionIndex5<br/></b>
                    <button class="next-btn" @onclick="@RestartQuiz">Play Again</button>
                 </div>
            }
                <b class="player-name">@players[1].Name</b>
            </div>
        </div>
    }
    <div class="footer">@players[0].Name: @player1Wins wins | @players[1].Name: @player2Wins wins</div>
}



@code {
    string firstName = "";
    public void AddPlayer()
    {
        players.Add(new Player(firstName));
        firstName = "";
    }
    List<Player> players = new List<Player>()
    {
    };
}
