@page "/quizbattle"
@inherits QuizBase
@using GusQuiz.Components
@using GusQuiz.Models;
@inject IJSRuntime JSRuntime



@if (players.Count < 2) // Kollar ifall det är mindre än två spelare. Är det två eller fler startar spelet
{
    <div class="welcome-con">
            <h1 class="welcome-header">Välkommen till Quiz Battle!</h1>
            <h3 class="welcome-h3">
                I detta spelet så turas två spelare om att svara på <br>
                frågor. Frågorna slumpas in och den som har flest <br/>
                rätt på de tio slumpade frågorna vinner spelet.
                <br/>
            </h3>
            <h3 class="start-h3">Vänligen skriv in två spelarnamn för att starta spelet.</h3>
            <input type="text" @bind="firstName" placeholder="Skriv in ditt namn" /> 
            <button class="submit-player-btn" @onclick="AddPlayer">Lägg till spelare</button>
    </div>
}

@if (players.Count > 1)  
{
    @if (playeroneloop == true) // Spelare etts tur att spela
    {
        <div class="container">
            <div class="quiz">
        @if (questionIndex23 < 10) // Quizet körs tills index är tio
        {
            <div class="app-title">
                @Questions[index].Category  
            </div>
            <div class="quiz-header">
                @Questions[index].NameOfQuestion
            </div>
            <div class="quiz-body">
                @foreach (var option in Questions[index].Options) // En loop som gör att du kan trycka på alla alternativ i alla frågor
                {
                    <button class="option-btn" @onclick="indexcounter"><OptionCard Option="@option" OnOptionSelected="OptionSelected"></OptionCard></button>  
                }
            </div>
        }
                else
                {
                    <div class="quiz-footer"> 
                        <button class="next-btn" @onclick="@NextPlayer">Nästa spelare</button> 
                    </div>
                }
                <br/>
                <b class="player-name">@players[0].Name</b>
            </div>
        </div>
    }


    @if (playertwoloop == true) // Spelare tvås tur att spela
    {
        <div class="container">
            <div class="quiz">
                @if (gameOver == false)
                {
                @if (questionIndex23 < 10)
                {
                <div class="app-title">
                        @Questions[index].Category
                </div>
                <div class="quiz-header">
                        @Questions[index].NameOfQuestion
                </div>
                <div class="quiz-body">
                    @foreach (var option in Questions[index].Options)
                    {
                        <button class="option-btn" @onclick="indexcounter"><OptionCard Option="@option" OnOptionSelected="OptionSelected2" ></OptionCard></button>  
                    }
                </div>
                    }
                    else if (questionIndex23 >= 9) // Efter alla frågor är svarade är spelet slut
                    {
                        gameOver = true;
                    }
                }


            else if(gameOver == true) 
            {
                 <div class="app-title">
                   @if (player1Score > player2Score)
                    {
                        <img class="winlose" src="/images/trophy.png" />
                        <p class="winscreen">@players[0].Name vinner!</p>
                        player1Wins++; // Om spelare 1 vinner ökar poängen med 1
                        gameOver = false;
                    }
                    else if (player1Score < player2Score)
                    {
                        <img class="winlose" src="/images/trophy.png" />
                        <p class="winscreen">@players[1].Name vinner!</p>
                        player2Wins++; // Om spelare 2 vinner ökar poängen med 1
                        gameOver = false;
                    }
                    else
                    {
                        <p class="winscreen">Ni har lika mycket poäng!</p> // Om lika poäng får båda 1 poäng 
                        player1Wins++;
                        player2Wins++;
                        _ = JSRuntime.InvokeVoidAsync("console.log", "Shouldn't show");
                        gameOver = false;
                    }
                 </div>
                 <div class="quiz-footer">
                     <b class="questions-right">@players[0].Name: @player1Score/@questionIndex23<br/> @players[1].Name: @player2Score/@questionIndex23<br/></b>
                    <button class="next-btn" @onclick="@RestartQuiz">Spela igen</button>
                 </div>
            }
                <br/>
                <b class="player-name">@players[1].Name</b>
            </div>
        </div>
    }
    <div class="player-info">
        <h4 class="wins-header">Vinst Tabell</h4>
        <p class="uppercase">@players[0].Name:</p>
        <p class="win-count">@player1Wins wins</p>
        <br/>
        <p class="uppercase">@players[1].Name:</p>
        <p class="win-count">@player2Wins wins</p>
    </div>
}



@code {
    bool gameOver = false;

    string firstName = "";
    public void AddPlayer() // Läggtill spelare från inputen
    {
        players.Add(new Player(firstName));
        firstName = "";
    }

    List<Player> players = new List<Player>()
    {
    };

    // Slumpar ut index nummer och kollar så dem inte är likadana 
    public void indexcounter()
    {
        Random slump = new Random();
        do
        {
            newNumber = slump.Next(1, 68);
        } while (usedNumbers.Contains(newNumber));
        usedNumbers.Add(newNumber);
        index = newNumber;
        _ = JSRuntime.InvokeVoidAsync("console.log", "click");
    }
}
