@page "/quizbattle"
@inherits QuizBase
@using GusQuiz.Components
@using GusQuiz.Models;



@if (players.Count < 2)
{
    <input type="text" @bind="firstName" placeholder="Enter player name" />
    <button @onclick="AddPlayer">Add Player</button>
}

@if (players.Count > 1)
{
    @if (bajs == true)
    {
        <div class="container">
            <div class="quiz">
        @if (questionIndex23 < 10)
        {
            <div class="app-title">
                @Questions[kuken].Category
            </div>
            <div class="quiz-header">
                @Questions[kuken].NameOfQuestion
            </div>
            <div class="quiz-body">
                @foreach (var option in Questions[kuken].Options)
                {
                    <button class="option-btn" @onclick="Hannes"><OptionCard Option="@option" OnOptionSelected="OptionSelected"></OptionCard></button>  
                }
            </div>
        }
                else
                {
                    <div class="quiz-footer">
                        <button class="next-btn" @onclick="@NextPlayer">Next Player</button>
                    </div>
                }
                <b class="player-name">@players[0].Name</b>
            </div>
        </div>
    }


    @if (röv == true)
    {
        <div class="container">
            <div class="quiz">
            @if (questionIndex23 < 10)
            {
                <div class="app-title">
                        @Questions[kuken].Category
                </div>
                <div class="quiz-header">
                        @Questions[kuken].NameOfQuestion
                </div>
                <div class="quiz-body">
                        @foreach (var option in Questions[kuken].Options)
                    {
                        <button class="option-btn" @onclick="Hannes"><OptionCard Option="@option" OnOptionSelected="OptionSelected2"></OptionCard></button>  
                    }
                </div>
            }
            else
            {
                 <div class="app-title">
                    @if (player1Score > player2Score)
                    {
                        <img class="winlose" src="/images/trophy.png" />
                        <b>@players[0].Name wins!</b>
                        player1Wins++;
                    }
                    else if (player1Score < player2Score)
                    {

                        <img class="winlose" src="/images/trophy.png" />
                        <b>@players[1].Name wins!</b>
                        player2Wins++;
                    }
                    else
                    {
                        <b>You are tied!</b>
                        player1Wins++;
                        player2Wins++;
                    }
                 </div>
                 <div class="quiz-footer">
                     <b class="questions-right">@players[0].Name: @player1Score/@questionIndex23<br/> @players[1].Name: @player2Score/@questionIndex23<br/></b>
                    <button class="next-btn" @onclick="@RestartQuiz">Play Again</button>
                 </div>
            }
                <b class="player-name">@players[1].Name</b>
            </div>
        </div>
    }
    <div class="footer"><p class="uppercase">@players[0].Name: @player1Wins wins</p><p class="uppercase">@players[1].Name: @player2Wins wins</p></div>
}



@code {


    string firstName = "";
    public void AddPlayer()
    {
        players.Add(new Player(firstName));
        firstName = "";
    }

    List<Player> players = new List<Player>()
    {
    };

    

    public void Hannes()
    {
        Random slump = new Random();
        do
        {
            newNumber = slump.Next(1, 32);
        } while (usedNumbers.Contains(newNumber));
        usedNumbers.Add(newNumber);
        kuken = newNumber;
    }

}
