@page "/quizbattle"
@inherits QuizBase
@using GusQuiz.Components
@using GusQuiz.Models;

<input type="text" @bind="firstName" placeholder="Enter player name" />
<button @onclick="AddPlayer">Add Player</button>
@if (players.Count > 0)
{
    @foreach (Player player in players)
    {
            <b>@player.Name</b>
    }
}
@if (players.Count > 1)
{
    @if (bajs == true)
{
    <div class="container">
        <div class="quiz">
            <b>@players[0].Name</b>
        @if (questionIndex < Questions.Count)
        {
            <div class="app-title">
                @Questions[questionIndex].Category
            </div>
            <div class="quiz-header">
                @Questions[questionIndex].NameOfQuestion
            </div>
            <div class="quiz-body">
                @foreach (var option in Questions[questionIndex].Options)
                {
                    <OptionCard Option="@option" OnOptionSelected="OptionSelected"></OptionCard>  
                }
            </div>
            }
            else
            {
                 <div class="quiz-footer">
                    <button class="next-btn" @onclick="@NextPlayer">Next Player</button>
                 </div>
            }
        </div>
    </div>
}


@if (röv == true)
{
        <div class="container">
            <div class="quiz">
                <b>@players[1].Name</b>
            @if (questionIndex < Questions.Count)
            {
                <div class="app-title">
                    @Questions[questionIndex].Category
                </div>
                <div class="quiz-header">
                    @Questions[questionIndex].NameOfQuestion
                </div>
                <div class="quiz-body">
                    @foreach (var option in Questions[questionIndex].Options)
                    {
                        <OptionCard Option="@option" OnOptionSelected="OptionSelected2"></OptionCard>  
                    }
                </div>
            }
            else
            {
                 <div class="app-title">
                    @if (player1Score > player2Score)
                    {
                        <img class="winlose" src="/images/trophy.png" />
                        <b>@players[0].Name wins!</b>
                        player1Wins++;
                    }
                    else if (player1Score == player2Score)
                    {
                        <b>You are tied!</b>
                        player1Wins++;
                        player2Wins++;
                    }
                    else
                    {
                        <img class="winlose" src="/images/trophy.png" />
                        <b>@players[1].Name wins!</b>
                        player2Wins++;
                    }
                 </div>
                 <div class="quiz-footer">
                    <button class="next-btn" @onclick="@RestartQuiz">Play Again</button>
                 </div>
            }
            </div>
        </div>
}
}



@code {
    string firstName = "";
    public void AddPlayer()
    {
        players.Add(new Player(firstName));
    }
    List<Player> players = new List<Player>()
    {
    };
}
